<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
</head>

<body>
    <table class="start" align="center">
        <h1>Welcome to the Dice Game!</h1>
        <h3>Enter the names of both players to start.</h3>
        <form action="game" method="post">
            <tr>
                <td>
                    <label for="player1"><b>Player 1:</b> </label>
                    <input type="text" name="player1" value="{{player1}}" />
                </td>
                <td>
                    <label for="player2"><b>Player 2:</b> </label>
                    <input type="text" name="player2" value="{{player2}}"/>
                </td>
            </tr>
            <tr>
                <td colspan="2" id="winner">{{winner}}</td>
            </tr>
            <tr>
                <td class="button" colspan="3">
                    <input type="submit" value="Start Game" />
                </td>
            </tr>
        </form>
    </table>
</body>

</html>